@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.orbitron {
  font-family: 'Orbitron', sans-serif; 
  letter-spacing: 2px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 144, 144, 144;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  letter-spacing: 1.4px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    url('../public/images/page-background.png'); /* Add your background image here */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s ease-in-out both;
  animation: tracking-in-expand 1.5s ease-in-out both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}